.video_items_container {
    border-bottom: 1px solid #e2e2e2;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
    margin: 0;
    font-size: 100%;
    background: transparent;
    display: block;
}

.video-grid {
    display: block;
    position: relative;
    margin-bottom: -12px;
    margin-right: -8px;
    list-style: none;
}

@media only screen and (max-width: 498px) and (min-width: 0px),
only screen and (max-width: 704px) and (min-width: 499px) {
    .video-list{
        display: inline-block;
    }
}

.video-list {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    width: 540px;
    word-wrap: break-word;
    margin-bottom: 12px;
    column-count: 2;
    column-width: 196px;
}

.video-list-item {
    display: block;
    font-size: 11px;
    color: #767676;
    line-height: 1.3em;
    position: relative;
    margin: 0;
    padding: 0 0 30px 0;
    border: 0;
    background: transparent;
    word-wrap: break-word;
}

.thumbnail-container {
    margin-bottom: 4px;
    display: block;
    position: relative;
    height: 100%;
    overflow: hidden;
    line-height: 0;
}

.thumbnail {
    position: relative;
    overflow: hidden;
    background: #f1f1f1;
    font-size: 0;
    vertical-align: middle;
    display: inline-block;

    a {
        color: #167ac6;
        cursor: pointer;
    }
}

.thumbnail-simple {
    font-size: 13px;
    outline: none;
}

.details-container {
    overflow: hidden;
    position: relative;
    display: block;
    min-width: 300px;
}

.title {
    margin-right: 20px;
    font-size: 13px;
    margin-bottom: 1px;
    max-width: 196px;
    color: #167ac6;
    max-height: 2.6em;
    background-color: #fff;
    display: block;
    line-height: 1.3em;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    h3 {
        font-weight: 500;
    }
}

.video-meta-container {
    display: block;
    margin: 0;
}

.video-meta-list {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
    color: #767676;
    line-height: 1.3em;
    ul {
        list-style: none;
    }
}

.video-meta-list-item {
    line-height: 1.3em;
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
    li {
            margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        background: transparent;
    }
}

.video-save-button-container {
    padding-right: -12px;
    vertical-align: top;
    line-height: 1.3em;
    display: inline-block;
    margin-left: -11px;
    border: 0;
    font-size: 100%;
    background: transparent;
}

.page-container {
    font-family: Roboto,arial,sans-serif;
}

@media only screen and (max-width: 498px) and
(min-width: 0px), only screen and (max-width: 704px)
and (min-width: 499px) {
    .content {
        width: 438px;
    }
}

.content {
    position: relative;
    top: 10px;
    max-width: none;
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1003px;
    box-sizing: border-box;
}

.col-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-container-inner {
    display: table-row;
}

.primary-column {
    display: table-cell;
    vertical-align: top;
    margin: 0 0 10px;
    border: 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-sizing: border-box;
}

.section-list {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
    ol {
        display: block;
    }
}

.item-section {
    list-style: none;
}

